body {
    background-color: #056c67;
}

.book {
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 10px;
}

.book button {
    margin-left: 5px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .book {
        padding: 5px;
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .book {
        padding: 3px;
        margin-bottom: 3px;
    }
}